.newsletter-mail 
	height 3.3rem 
	background-color rgba(228, 38, 51, 0.2)
	border .1rem solid $red
	margin-bottom 2rem 
	padding 1rem 

	@media $small-desktop-min
		float left 
		
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button 
	-webkit-appearance none 
	margin 0

.field 
	width 100%
	border .1rem solid $lightblue
	padding 1rem
	margin-bottom 1rem 
	
	&:focus, &:active
		background-color lighten($lightblue, 50)
		outline 0
		
.negative 
	border .1rem solid $lightblue 
	padding 1rem 
	margin-top -1rem 
	margin-bottom 1rem
	
	&:after
		clear both
		display block
		content ''
		
select.field 
	padding .7rem 0
		
.field-descriptor 
	font-size 1.4rem 
	color #6d6e71


	
.edit-account 
	font-size 1.2rem 
	color #6d6e71
	
	&:after
		clear both
		display block
		content ''
	
	label 
		display block
		
		&:after
			clear both
			display block
			content ''
	
	span 
		font-size 1.2rem 
		
		@media $tablet-max 
			display block
			margin auto 
			margin 2rem 0
		
		@media $tablet-min 
			float left
			width 19.702%
			padding-top .4rem
			
	input, select
		&:disabled
			border-color #e6e7e8
			background-color #FFF
			cursor not-allowed 
	
	.field
		height 3.6rem
		transition(border-color .35s ease-in-out)
		
		@media $tablet-min 
			float left
			width 80.298%
			
			
	.generic-blue
		float right
		
		&.after-edit
			display none
	
	a 
		display block
		margin-left 3% 
		padding .7rem
		cursor pointer	
	
		
.newsletter-mail
	width 24.8rem 
	
.product-rating
	&:not(:checked)
		& > input
			position absolute
			top -9999px
			
		& > label 
			float right
			width 1em
			padding 0 .1em
			overflow hidden
			white-space nowrap
			cursor pointer
			font-size 300%
			line-height 1.2
			color #ddd
			
			&:before 
				content: '★'
				
			&:hover 
				color gold 
				
				& ~ label 
					color gold 
					
				& ~ input
					&:checked 
						& ~ label 
							color gold
				
	& > input 
		&:checked 
			& ~ label 
				color gold
				
				&:hover 
					color gold
					
					& ~ label 
						color gold
				
			& + label 
				&:hover 
					color gold
					
					& ~ label 
						color gold
						
	label
		&:active 
			position relative
			top 2px
			left 2px

.error-field
	color #F00
	font-size 1.2rem