.hamburger
	@media $tablet-max 
		left 0

	@media $tablet-max 
		position absolute
		top .5rem 
		height 3.8rem 
		width 4.1rem 
		border .1rem solid $lightblue
		background-color $cartburgerbg
		padding 0 
		text-align center
		
	@media $small-desktop-min 
		display none
		
	.inner 
		@media $tablet-max
			height 1.5rem 
			width 2rem
			overflow-x hidden 
			display inline-block
			vertical-align bottom
			
	span 
		height .2rem 
		width 100% 
		background-color #FFF
		display block
		transition(all 0.25s ease-in-out)
		
		&:nth-child(2)
			margin .4rem 0
			opacity 1
			
	&.is-open 
		span
			&:first-child 
				transform(rotate(-40deg) translateY(5px) translateX(-3px))
				 
			&:nth-child(2)
				transform(translateX(-1rem))
				opacity 0
				
			&:last-child
				transform(rotate(40deg) translateY(-6px) translateX(-3px))
			
		 
.mobile 
	background-color #52abf8
	text-align center
	top 9rem 
	transform(translateX(-100%))
	transition(all 0.5s ease-in-out)
	position absolute
	width 100%
	z-index 100
	opacity 0
	
	&.is-open
		transform(translateX(0))
		opacity 1
	
	@media $mobile-max 
		padding 0 2rem
		
	@media $tablet-minmax
		padding 0 4rem
		
	@media $small-desktop-min
		display none
	
.upper
	position relative
	transition(all 0.5s ease-in-out) 
	
	li
		font-size $r-font
		color #fff
		border-bottom .1rem solid rgba(66, 146, 213, 0.5)
		font-weight bold
		padding 1.1rem 0 .8rem 0
		transition(all 0.5s ease-in-out)
		
		&.menu-in 
			color transparent
			border-bottom 0
			padding 0
			
			i 
				color transparent 
		
		@media $tablet-minmax
			padding 2rem 0 2rem 0
		
		i 
			color #002c4b
			font-size $r-font 
			float right 
			
		&.go-back
			visibility hidden 
			opacity 0 
			background-color $blue
			max-height 0 
			padding 0
			z-index 20
			transition(all 0.5s ease-in-out)
			width 100vw
			position relative
			
			@media $mobile-max 
				left -2rem 
				
			@media $tablet-minmax
				left -4rem
			
			&.menu-in
				visibility visible 
				opacity 1
				max-height none
				padding 2rem
				
			button 
				background-color transparent 
				color white 
				font-size 1.6rem 
				border 0 
				
			i 
				float left
				color $blue
				font-size 2rem
	
			
			
.contact-information 
	transition(all 0.5s ease-in-out)
		
	div 
		padding 1.5rem 0 1.8rem 0
		
		&:first-child
			border-bottom .1rem solid rgba(66, 146, 213, 0.5)

	p 
		font-size $r-font 
		color #FFF
		font-weight bold
	
	span 
		color #002c4b
		font-size 2.8rem
		line-height 3rem
		font-weight bold
		display block
		
	small 
		font-size 1.2rem 
		color #FFF
		display block
		
	&.hidden 
		max-height 0
		padding 0
		margin 0
		opacity 0
		// visibility hidden
			
.submenu 
	overflow hidden
	padding 0 
	max-height 0
	transform(translateX(200%))
	transition(all 0.6s ease-in-out)
	
	li:last-of-type
		border-bottom 0
	
.menu-out 
	transform(translateX(-200%))
	opacity 0 
	max-height 0 
	padding 0 !important
	
.menu-in 
	position relative
	top 0
	width 100% 
	
	
	.submenu
		transform(translateX(0))
		overflow visible 
		max-height none

	