aside.categories 
	&:after
		clear both
		content ''
		display block
		
	@media $mobile-max
		padding 2rem 0 
		
	@media $tablet-max 
		width 100% 
		
	@media $tablet-minmax 
		padding 2rem 0
		margin-bottom 3rem
		
	@media $small-desktop-min
		float left 
		width 17%
		
	h1 
		font-weight bold
		color $blue 
		padding-bottom 1.449rem
		border-bottom .3rem solid $lightblue
		font-size 1.8rem
		
		@media $mobile-max 
			margin auto 
		
		@media $tablet-max 
			width 90%
			
		@media $tablet-minmax 
			min-height 6rem
			
		
	ul 
		padding 2.5rem 0
		
	.load-categories
		width 50% 
		
		@media $small-desktop-min
			margin-bottom 1.3rem
			
	li 
		@media $mobile-max 
			margin auto 
			
		@media $tablet-max
			width 90%
			
		@media $tablet-max
			padding .5rem 0
		
		&:not(:last-of-type)
			border-bottom .1rem solid $lightblue 
		
					
	label 
		display block 
		padding .6rem 0
		cursor pointer  
		
		@media $tablet-max 
			white-space nowrap 
			overflow hidden 
			text-overflow ellipsis
		
		span 
			font-size 1.4rem
			color #262626
			margin-left 1.1rem
			
		input
			height 1.1rem 
			width 1.1rem 
			background-color #FFF 
			border .1rem solid #7f7f7f
		

.filter
	@media $tablet-minmax 
		float left 
		width 25% 
		height 60rem 
		overflow scroll
		

.account-widget
	padding 2.3rem 2.1rem
	
	@media $tablet-max 
		margin-bottom 4rem
	
	@media $tablet-min 
		width 22.919% 
		float left
		
	.account-navigation 
		li
			border-bottom .1rem solid $lightblue
			
			@media $tablet-max 
				line-height 3.2rem

			@media $small-desktop-min
				line-height 2.2rem 

		