@keyframes fadeIn 
	10% 
		visibility visible 
		opacity 0 
		
	50% 
		opacity 0.5
		display block
		
	100% 
		opacity 1 
		visibility visible
		display block 
		
@keyframes fadeOut 
		
	90%  
		opacity 0 
		 
	100% 
		visibility hidden
		display none
		

@keyframes menuOut 
	90% 
		transform(translateX(-180%))
		opacity 0.5 
		
	100% 
		display none
		transform(translateX(-200%))
		opacity 0 
		
@keyframes menuIn 
	to 
		transform(translateX(0) translateY(-100%))
		opacity 1
	

@keyframes grow
	10% 
		visibility visible 
		opacity 0 
		max-height 0
		
	50% 
		opacity 0.5
		display block
		
	100% 
		opacity 1 
		visibility visible
		display block 
		max-height none 
		padding 1rem
		
@keyframes left-one 
	0%  
		transform(translateX(100%))

	10% 
		transform(translateX(0))

	40% 
		transform(translateX(0))

	50% 
		transform(translateX(-100%))

	100%
		transform(translateX(-100%))
  

@keyframes left-two 
	0% 
		transform(translateX(100%))

	50% 
		transform(translateX(100%))

	60% 
		transform(translateX(0))

	90% 
		transform(translateX(0))

	100%
		transform(translateX(-100%))
		

@keyframes loader 
	0% 
		transform: rotate(0deg)


	25% 
		transform: rotate(180deg)


	50% 
		transform: rotate(180deg)


	75% 
		transform: rotate(360deg)


	100% 
		transform: rotate(360deg)
  


@keyframes loader-inner 
	0% 
		height: 0%


	25% 
		height: 0%


	50% 
		height: 100%


	75% 
		height: 100%


	100% 
		height: 0%
  

  
