.red-basic 
	height 3.5rem 
	width 10rem 
	color #FFF
	font-size 1.6rem 
	font-weight bold 
	background-color $red
	border .1rem solid transparent 
	transition(all 0.25s ease-in-out)
	
	&:hover
		background-color #FFF 
		color $red 
		border-color $red
	
.see-more 
	color $blue 
	background-color #FFF 
	font-size 2rem 
	font-weight bold 
	display block
	width 100%
	border .1rem solid transparent
	height 6.9rem 
	text-align center
	transition(all 0.25s ease-in-out)
	
	&:hover
		background-color $blue 
		border-color #FFF
		color #FFF
		
	
.submenu-picker
	background-color transparent 
	width 100% 
	height 100% 
	border 0
	position absolute
	left 0
	top 0
	

.more 
	color #FFF
	font-weight bold
	

.remove
	background-color transparent 
	border 0
	font-weight bold
	font-size 1.4rem
	
.numeral
	background-color #f1f2f2
	border .1rem solid #bcbec0
	color $lightblue
	font-size 1.8rem 
	font-weight bold
	
.finish-purchase
	background-color $green
	color #FFF !important
	font-size 3rem 
	font-weight bold 
	width 100%
	transition(all 0.15s ease-in-out)
	text-shadow 0.3rem 0.3rem 0 rgba(0,0,0,0.1)
	display block
	

	&:hover, &:active, &:focus
		background-color darken($green, 5)
		
.keep-purchasing
	height 4rem
	color #a7a9ac
	font-weight bold
	width 100%
	background-color #FFF
	display block
	
	@media $tablet-max 
		font-size 1.4rem
		
	@media $small-desktop-min
		font-size 1.6rem 
	
	i 
		@media $tablet-max 
			font-size 1.6rem
			
		@media $small-desktop-min
			font-size 2rem
		

.tab 
	float left 
	width 13rem 
	height 3.3rem 
	margin-top -3.2rem 
	border-top .1rem solid #c7eafb
	border-bottom .1rem solid #c7eafb
	background-color #FFF
	color #136aaa
	font-size 1.2rem
	
	@media $mobile-max 
		width 33.3333%
	
	&:first-of-type
		border-left .1rem solid #c7eafb
		border-right 0
	
	&:nth-of-type(2)
		border-left .1rem solid #c7eafb
		border-right .1rem solid #c7eafb
		
	&:last-of-type 
		border-right .1rem solid #c7eafb
		border-left 0 
		
	&.is-active
		background-color #136aaa
		color #FFF
		
.generic-blue
	color #FFF !important
	background-color $bluevariant
	border .1rem solid $lightblue
	font-weight bold
	font-size 1.6rem
	height 3.3rem
	transition(0.25s ease-in-out)
	
	&:hover, &:focus, &:active
		background-color #FFF
		color $bluevariant !important
		
.add-to-cart
	@extend .finish-purchase
	height 5rem
	border 0
	margin-bottom .2rem 
	
	@media $smallest-desktop-minmax
		font-size 2rem
		
	@media $mobile-max 
		font-size 2rem
	
.safety
	background-color rgba($green, 0.2)
	color #7cc623
	font-size 1.6rem
	height 4rem
	text-align center
	padding 1.3rem
	
 
.edit-information
	position absolute
	right .6rem 
	top .6rem 
	font-size 2.4rem 
	color #c1c1c1
	background transparent 
	border 0 
	padding 0
	transition(color 0.25s ease-in-out)
	display none
	
	&:before 
		margin-right 0 !important
		
	&:hover
		color $red