.slick-list,
.slick-slider,
.slick-track 
    display block
    position relative

.slick-loading .slick-slide,
.slick-loading .slick-track 
    visibility hidden

.slick-list,
.slick-slider,
.slick-track 
    position relative

.slick-slider 
    box-sizing border-box
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    -webkit-touch-callout none
    -khtml-user-select none
    -ms-touch-action pan-y
    touch-action pan-y
    -webkit-tap-highlight-color transparent

.slick-list 
    overflow hidden
    margin 0
    padding 0

.slick-list:focus 
    outline 0

.slick-list.dragging 
    cursor pointer
    cursor hand

.slick-slider .slick-list,
.slick-slider .slick-track 
    -webkit-transform translate3d(0, 0, 0)
    -moz-transform translate3d(0, 0, 0)
    -ms-transform translate3d(0, 0, 0)
    -o-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

.slick-track 
    top 0
    left 0

.slick-track:after,
.slick-track:before 
    display table
    content ''

.slick-track:after 
    clear both

.slick-slide 
    display none
    float left
    height 100%
    min-height 1px
    cursor move
    cursor grab
    cursor -moz-grab
    cursor -webkit-grab

[dir=rtl] .slick-slide 
    float right

.slick-slide.slick-loading img 
    display none

.slick-slide.dragging img 
    pointer-events none

.slick-initialized .slick-slide 
    display block

.slick-vertical .slick-slide 
    display block
    height auto
    border 1px solid transparent

.slick-slide:active 
    cursor grabbing
    cursor -moz-grabbing
    cursor -webkit-grabbing

.slick-arrow.slick-hidden 
    display none

.carousel 
	.slick-slider, .slick-list, .slick-track 
		overflow visible 
		z-index 8
		
	[class*="slick-"]
		&:active, &:focus 
			outline 0
	

// CUSTOM 

.slick-dots 
    width 7.6rem
    font-size 0
    position absolute
    top 44rem
    left 0 
    right 0 
    display block
    margin auto
    
    li 
        height 1.4rem 
        width 1.4rem 
        display inline-block
        vertical-align top
        border-radius 50% 
        color transparent
        transition(all 0.25s ease-in-out)
        
        &:not(.slick-active)
            background-color #3a3a3a
            border .2rem solid #4d4d4d 
            
            &:hover
                background-color darken($red, 20%)
                border .2rem solid #e1e1e1
            
        &.slick-active
            background-color $red 
            border .2rem solid #FFF
            
        & + li 
            margin-left .6rem
            
        button
            opacity 0 
            height 100%
            width 100%
            border-radius 50%
        
.slick-arrow
    width 1.6rem 
    height 4.8rem 
    background-color transparent
    border 0
    position absolute
    color transparent
    outline 0
    top 14rem 
    background url('../images/icons/arrow.svg') no-repeat center center / cover
    
    // &:after
    //     content '›'
    //     position absolute
    //     top 0
    //     left 0
    //     right 0 
    //     margin auto 
    //     color $lightblue 
    //     font-size 4rem
    
    &.slick-prev
        left -3rem 
        
    &.slick-next 
        transform(rotate(-180deg));
        right -3rem