.has-icon
	&:before
		display inline-block
		vertical-align top
		margin-right .5rem
		font-size inherit 
		color inherit 
		font-family 'FontAwesome'
		
	&.user
		&:before
			content '\f007'
		
	&.lock
		&:before
			content '\f023'
			
	&.envelope
		&:before
			content '\f0e0'
			
	&.users
		&:before 
			content '\f0c0'
			
	&.id-card 
		&:before
			content '\f2c2'
			
	&.marker
		&:before
			content '\f041'
			
	&.calendar 
		&:before
			content '\f073'
			
	&.angle 
		&:before 
			content '\f105'
			
	&.pencil 
		&:before
			content '\f044'
			
	&.newspaper
		&:after
			display inline-block
			vertical-align top
			margin-left .5rem
			font-size inherit 
			color $red 
			font-family 'FontAwesome'
			content '\f1ea'
	
.empty-cart 
	color $red 
	font-size 3.2rem
	font-weight bold
	text-transform uppercase
	
	&.small
		font-size 1.8rem

.red
	color $red 
	
.blue
	color $lightblue
		
.padded
	&:after
		clear both 
		display block
		content ''
		
	@media $small-desktop-min 
		width 96rem
		margin 5.6rem auto 0 auto
		
	&.extra 
		@media $small-desktop-min
			width 75rem 

.bordered 
	border .1rem solid $grey
			
.zip-code-help 
	.questionmark
		font-size 1rem 
		color #FFF 
		padding .3rem .6rem
		background-color #444444
		border-radius 50%
		margin-right .4rem
		

.safe
	position relative
	
.safe-certificate
	position absolute
	right 0 
	top 0 
	
	@media $tablet-max
		display none

		

[class*="-stripe"]
	position relative 
	color #FFF
	margin-bottom 1rem
	display block
	text-align center
	
	&:after
		position absolute
		bottom -.6rem 
		right 0
		content ''
		width 0 
		height 0
		border-style solid 
		border-width .6rem .6rem 0 0
		
.discount-stripe
	background-color $red 
	padding .8rem .6rem
	font-size 4.5rem
	height 5rem
	letter-spacing -.2rem
	font-weight bold 
	margin 0 -1rem 1rem auto
	
	&:before 
		content '%'
		color #FFF 
		position absolute
		top .5rem 
		right 1.3rem 
		font-size 2.4rem 
		background-color transparent 
		border 0
	
	small 
		font-size 1.4rem
		font-weight normal
		margin-left -.7rem

.generic-stripe 
	height 2.5rem 
	font-weight bold 
	font-size 1.4rem 
	padding .5rem 1rem
	margin-right -1rem

	&.yellow
		background-color $yellow
		
		&:after
			border-color darken($yellow, 30%) transparent transparent transparent
			
	&.orange 
		background-color $orange
		
		&:after
			border-color darken($orange, 30%) transparent transparent transparent
	
	&.orange 
		background-color $orange
		
		&:after
			border-color darken($orange, 30%) transparent transparent transparent
			
	&.blue 
		background-color $lightblue
		
		&:after 
			border-color darken($lightblue, 30%) transparent transparent transparent
			
	&.green 
		background-color #00a450
		
		&:after 
			border-color darken(#00a450, 30%) transparent transparent transparent
		

	
			
// MODULES 

.forepart
	position relative 
	z-index 2 
	
	@media $tablet-max 
		display none
		
	div 
		position relative
		border .1rem solid $blue
		height 5.3rem
		flex()
		align-items center
		justify-content space-around 
		padding 0 1rem
		background-color #FFF
		
		@media $small-desktop-min 
			width 33.333%
			float left
			
		&:after 
			clear both 
			display block
			content ''
			
		&:nth-of-type(2)
			background-color #d5e5f1
			
			span
				&:nth-of-type(2)
					width 33%
						
	span 
		color $blue 
		display block 
		
		&:first-child 
			font-weight bold
			width 27% 

			@media $tablet-min 
				font-size $r-font
			
			@media $smallest-desktop-minmax
				font-size 1.2rem 
				
			@media $desktop-min
				width 35%
			
		&:last-child 
			font-size 1.4rem
			width 31%
			
			@media $smallest-desktop-minmax
				font-size 1.2rem 
				

	i 
		background-color #fff  
		border-radius 50% 
		color $blue
		border-color $blue
		border-style solid
		border-width .4rem
		padding .8rem
		font-size 3rem
		height 5.6rem
		width 5.6rem 
		margin-top -.5rem
			
		@media $desktop-min 
			width 7.6rem
			height 7.6rem
			font-size 4rem 
			padding 1rem  
			border-width .7rem
			
	
	.red
		color $red 
		text-decoration underline
		font-weight bold
		
.promotional
	padding-top 2.6rem 
	
	.banner 
		border .1rem solid $lightblue
		
		@media $tablet-max 
			display none
		
		@media $small-desktop-min
			margin-bottom 3.3rem

.division  
	background-color $blue
		
	@media $tablet-max 
		text-align center
		padding 2rem 0
	
	.center-content 
		@media $small-desktop-min
			height 8rem
			flex()
			flex-flow row nowrap 
			justify-content space-between 
			align-items center
		
	.texty 
		@media $smallest-desktop-minmax
			width 54% 
			
		@media $desktop-min
			width 56% 
	
	h1 
		color $red
		font-weight bold
		
		@media $mobile-max
			font-size 3rem
			
		@media $tablet-min 
			font-size 4rem 
		
		@media $tablet-max
			margin-bottom 2rem 
			
		@media $smallest-desktop-minmax
			font-size 3.4rem 
			
		@media $small-desktop-min
			float left 
			

	h2 
		color #FFF 
		font-size $r-font 
		
		@media $tablet-max	
			margin-bottom 2rem
			
		@media $smallest-desktop-minmax
			font-size 1.2rem 

		@media $small-desktop-min
			float left 
			margin-left 3% 
			margin-top 1rem 
			
	button 
		display block
		margin auto
		
.freight-information 
	padding .4rem 
	border .1rem solid $grey
	margin-bottom 1rem
	width 100%

	
	th, td
		font-size 1.2rem 
		color $blue 
		padding .8rem 0 .8rem .7rem 
		text-align left
		
		&:first-of-type 
			width 30% 
			
		&:last-of-type
			width 70%		
		
	th 
		font-weight bold

	tr 
		
		&:nth-of-type(even)
			background-color #e5e9ed
			
		@media $desktop-min
			text-overflow ellipsis
			white-space nowrap
			overflow hidden
				
.topics 
	@media $tablet-min 
		flex()
		flex-flow row nowrap 
		align-items center
			
	li 
		background-color #ccd5db
		color $blue 
		font-size 1.8rem 
		text-align center
		height 4.8rem 
		padding 1.6rem 0
		align-self center
		overflow hidden
		position relative
		
		&:after
			content ''
			position absolute
			top 0 
			width 100% 
			height 100%
			display block
			background-color $blue 
			transform(translateY(-100%))
			transition(all 0.2s ease-in-out)
			
		&:hover 
			color $lightblue 
				
			&:after
				transform(translateY(0))
		
		@media $mobile-max
			border-bottom .1rem solid #FFF
			
		@media $tablet-min 
			width 16.5%
			
			& + li 
				margin-left 0.166%
				
	a 
		position relative
		z-index 10
		transition(all 0.25s ease-in-out 0.17s)			 
		top 0
		width 100% 
		height 100%
		
// CONTAINER STYLES 
		

.shaded-box
	border .1rem solid #c7eafb
	box-shadow .3rem .4rem 0 rgba(0, 0, 0, 0.03)
	
.half 
	@media $small-desktop-min 
		float left
		width 47.5%
		
		& + .half:not(:nth-child(odd)) 
			margin-left 5%
			
// .corrected-nth  // INVESTIGAR
// 	.half 
// 		@media $small-desktop-min 
// 			float left
// 			width 47.5%
// 			min-height 7rem
			
// 			& + .half:not(:nth-child(odd)) 
// 				margin-left 5%
	
.fieldbox
	padding 3rem 2rem
	
	&:after
		clear both
		display block
		content ''
	
	@media $mobile-max
		margin-bottom 4rem
		
	h2 
		font-size 2rem 
		color $red
		margin-bottom 1rem
		font-weight bold
	
		@media $tablet-minmax 
			font-size 1.8rem
			
	a 
		float left 
		display block
		margin-top 2.8rem
		
	legend 
		padding-bottom 2rem 
		border-bottom .1rem solid #c7eafb
		margin-bottom 2rem
		font-style italic 
		width 100%
		
	label 
		span
			display block
			margin-bottom 1rem
			
		input 
			height 3.3rem 
					
		&.three-quarters
			@media $small-desktop-min
				width 70% 
				float left
				
		&.one-quarter
			@media $small-desktop-min
				margin-left 5% 
				width 25%
				float left
					
	.generic-blue
		width 11.8rem
		margin-top 2.3rem 
		
	.zip-code-help
		a 	 
			margin-top 0
			
	&.inactive
		.edit-information
			display block
		

// DEFAULT TEXT STYLES 
		
.overflown 
	overflow hidden
	white-space nowrap 
	text-overflow ellipsis
	
.sr-only
	position absolute
	top -99999rem 
	overflow hidden
	opacity 0
	width .1rem 
	height .1rem 
	margin -.1rem
	border 0
	
.average
	font-size 1.4rem 
	color #6d6e71
	

.lined 
	padding-bottom 1.3rem 
	border-bottom .3rem solid $lightblue
	font-size 3.2rem 
	font-weight bold
	
	@media $tablet-minmax 
		width 52.9166%
		
	@media $tablet-max 
		margin-bottom 2rem

	@media $small-desktop-min 
		width 37.9166%	


.title-rulers 
	text-align center
	font-weight bold 
	color $blue
	font-size 4rem 
	overflow hidden
	
	@media $tablet-min
		&:before, &:after
			background-color $red
			content ''
			display inline-block
			height .1rem
			position relative
			vertical-align middle
			width 50%
			margin-top -1.2rem
			
		&:before
			right 2rem
			margin-left -50%
			
		&:after
			left 2rem 
			margin-right -50% 
	
	@media $tablet-max 
		margin-bottom 4rem 
			
	@media $small-desktop-min
		margin-bottom 6rem 
		
	@media $desktop-min
		font-size 6rem
		
	&.hidden 
		&:before, &:after
			content initial 
			
	&.single
		text-align left
		font-size 2.2rem
		
		&:before
			content initial 
			
		&:after
			margin-top -.4rem
			width 100% 
			left .5rem
			
			

