.loader-overlay
	position fixed
	width 100vw 
	height 100vh 
	background-color rgba(#000, .95)
	z-index 60
	text-align center
	transition(all 0.3s ease-in-out)
	display none
	
.loader 
	display inline-block
	width 3rem
	height 3rem
	position relative
	border .4rem solid #Fff
	top 45%
	animation loader 2s infinite ease
	z-index 70
	transform(translateY(-50%))

.loader-inner 
	vertical-align top
	display inline-block
	width 100%
	background-color #fff
	animation loader-inner 2s infinite ease-in