// MEUS PEDIDOS 

.full-order-listing
	width 100%
	
	th, td 
		vertical-align middle
		
		@media $tablet-min
			text-align center
			
		@media $tablet-minmax 
			font-size 1.1rem
			
		@media $small-desktop-min 
			font-size 1.2rem
		
	th 
		padding-bottom .7rem
		font-weight bold
		
		@media $mobile-max
			display none
		
	td 
		
		@media $mobile-max
			display block
			padding-bottom .7rem
			margin-bottom 1rem
			
		@media $tablet-min
			padding 1.4rem 0 
			
		&:before 
			@media $mobile-max
				content attr(data-head)
				display inline-block 
				vertical-align top
				font-weight bold
				font-size 1.6rem
				width 50%
				
		&:first-of-type
			position relative 
			
			&:before
				@media $mobile-max
					display block
					background-color $lightblue
					padding .5rem
					color #FFF 
					width 100%
					
			span 
				@media $mobile-max
					position absolute
					top .2rem  
					right .5rem
					font-weight bold
					font-size 1.6rem
					padding-left .5rem
					
		span
			@media $mobile-max
				display inline-block
				vertical-align top
				padding-top .3rem
				font-size 1.2rem
	
	tr
		&:first-of-type
			border-bottom .2rem solid $red
			
			@media $mobile-max
				display none
			
		@media $mobile-max
			display block
			font-size 0
			
		&:not(:last-of-type)
			@media $mobile-max
				// border-bottom .3rem solid $red 
				padding-bottom 1.5rem
				margin-bottom 1.5rem
			
			
	a 
		text-decoration underline
		color darken($grey, 20)

//DETALHE DE PEDIDO 

.account 
	padding 2.3rem 
	margin-bottom 4rem
	
	@media $tablet-min 
		float left
		width 74.583%
		margin-left 2.5%
		margin-bottom 9.6rem
		
.details
	@media $mobile-max 
		text-align center
		
	span 
		@media $mobile-max
			display block
		
.info 
	font-size 1.5rem 
	color #6d6e71
	
	@media $mobile-max
		margin 2rem 0
	
	@media $tablet-min
		float left 
		width 25%
		padding-top 1rem
	
.response 
	font-size 1.5rem 
	color #6d6e71
	opacity 0.5
	padding 1rem
	border .1rem solid $lightblue
	
	@media $mobile-max 
		width 100%
	
	@media $tablet-min 
		float left
		width 75%
		margin-bottom 1.2rem 
		

.description-segment
	clear both 
	
	@media $mobile-max 
		margin-bottom 4rem
	
	[class$="-description"]
		@media $mobile-max
			float left 
			width 50%
			margin 5rem 0 2rem 0

		@media $tablet-min
			padding 1.2rem 0
			border-bottom .1rem solid $lightblue
			
		&:after
			clear both
			display block
			content ''
			
	.generic-blue
		margin-top 2rem
		float right
		
		@media $tablet-min
			margin-bottom 3rem
			
	
.order-information 
	font-size 1.5rem 
	
	@media $mobile-max
		line-height 2.2rem

	@media $tablet-min
		float left 
		width 25%
		
	&:nth-of-type(2), &:nth-of-type(3)
		@media $tablet-min
			text-align center
		
	&:last-of-type
		@media $tablet-min
			text-align right
			
.payment-description
	clear both
	
.order-description
	@media $mobile-max
		text-align right
		
	p 
		@media $tablet-min 
			font-size 1.2rem 
			opacity 0.6
			

				
.pricing
	@media $mobile-max
		width 100% 	
	
	@media $tablet-min 
		float right
		width 25% 
		margin-top 2rem
	
	&:after
		clear both 
		display block
		content ''
	
[class^="value-"]
	line-height 2rem
	font-size 1.2rem
	
	&:after
		clear both
		display block
		content ''
	
.value-info
	float left 
	width 60%
	
.value-result
	float right
	width 40%
	text-align right
	
.distanced
	margin-top 3rem
	
.order-summary 
		
	&:after
		clear both
		display block
		content ''
		
.recover 
	padding-top 6rem 
	
	article
		@media $tablet-min 
			width 37.5%
			margin 7rem auto 0 auto
	
	.generic-blue
		float right
				

// REGISTER 

#register
	.generic-blue 
		margin-bottom 4rem 
		
		@media $tablet-min
			float right

.register
	.fieldbox
		margin-bottom 5rem
		
	.zip-code-help
		position absolute
		right 0
		top -3.8rem
		
	.questionmark 
		display inline-block
		vertical-align top
		
	label 
		position relative

.register-type
	label 
		float left 
		display block
		width 15%
		
		& + label
			margin-left 5%

	input 
		display inline-block
		vertical-align top
		
	.average 
		display inline-block
		vertical-align bottom
		margin-left 1%
		
.divided 
	@media $tablet-min
		width 47.5% 
		float left
		min-height 76rem
		
		& + .divided
			margin-left 5%
			
// CONFIRMATION

.thank-you 
	h2
		font-size 4.2rem 
		font-weight bold
		margin-bottom .5rem 
		
.subtitle-legend
	margin-bottom 5rem
	color #6d6e71
	font-size 1.6rem

.confirmation-segment
	@media $tablet-min
		float left
		min-height 38rem
		
	.generic-blue
		width 47.5% 
		float left 
		
		& + .generic-blue
			margin-left 5%
			
	a 
		padding .7rem 
		text-align center
		
	.blue 
		color $lightblue

.big
	padding 3.8rem 3rem 
	 
	@media $tablet-min 
		width 57.291%
		
.small 
	padding 2rem 1.5rem
	
	@media $tablet-min
		width 36.98%
		margin-left 5.729%
		

.order-number
	color $blue
	margin-bottom 1rem 
	font-size 2.8rem 
	font-weight bold 
	
.confirmation
	margin-bottom 5rem 
	
.method-paid
	color $lightblue 
	margin-bottom 1rem
	font-size 1.8rem
	
.order-resume 
	font-size 1.8rem 
	color $blue 
	
.order-items
	font-size 1.4rem
	margin-bottom 1.8rem
	
.wrap-items
	padding 1rem
	border .1rem solid $lightblue
	margin 2rem 0 
	
.orders-confirmation 
	width 100% 
	
	td
		font-size 1.4rem 
		padding .3rem 0
		
		&:first-of-type
			text-align left
			color #9d9d9c
			
		&:last-of-type
			text-align right
			
.value 
	float right
	
.freight, .discount 
	font-size 1.4rem
	
.add 
	margin-bottom 1.2rem 
	font-size 1.4rem
	
.discount
	margin-bottom 2.6rem
	
.final-value 
	font-size 1.8rem 
	margin-bottom 2rem
	
	.key 
		color $lightblue
		
.final-address
	font-size 1.4rem
	line-height 1.8rem
	color #6d6e71
	
	
	

	

			
		