.branding
	padding 8rem 0

	.lined
		margin-bottom 4rem
	
	.option-submenu 
		visibility visible 
		position static
		opacity 1 
		margin-bottom 4rem
		
		@media $mobile-max
			display block
		
		li 
			@media $mobile-max 
				display block
				width 100%
				float none
				
			li 
					
				&:nth-of-type(n+2)
					@media $mobile-max
						display none
				
				&:not(:last-of-type)
					border-bottom .1rem solid #f1f2f2
					

.full-brand-title 
	padding 1.5rem 0 
	text-align center
	margin-bottom 4rem 
	border .15rem solid rgba(#000, 0.25)
	font-size 2.4rem 
	font-weight bold
		
.full-brand-listing
	font-size 0 
	
.brand-instances 
	display inline-block
	vertical-align top 
	
	@media $tablet-min 
		width 22.5%
		
	& + .brand-instances
		@media $tablet-min
			margin-left 3.3333%
		
	ul 
		margin-bottom 4rem
	
	li 
		&:not(.alphabetical)
			font-size 1.4rem 
			color #6d6e71
			line-height 2.2rem
			padding-left 1rem
			
			&:hover
				color $red 
			
		&.alphabetical
			font-size 1.8rem 
			line-height 2.6rem 
			color #000 
			font-weight bold 
			margin-bottom 1.2rem
			
		
		