.touch-warning 
	font-size 2rem 
	color $blue 
	text-align center
	
	@media $tablet-max 
		padding 0 2rem 

	@media $small-desktop-min
		display none


aside.categories, main.category
	@media $small-desktop-min
		padding-top 4rem
		
.category 
	@media $small-desktop-min 
		float left 
		width 80%
		margin-left 3%
		
.pagination
	width 100% 
	margin-bottom 2.2rem
	border-top .1rem solid $lightblue
	border-bottom .3rem solid $lightblue 
	padding .6rem 0
	
	&:after
		clear both
		display block
		content ''
	
	small, span
		font-size 1.3rem 
		color $blue 
		line-height 1.8rem 
		
	select 
		width 10.4rem
		height 1.8rem 
		background-color #f7f8f8
		border .1rem solid #e1e1e1
		margin-left 1.3rem
		
	.index 
		float left 
		
	.sorting 
		float right 
		

		


	
	
