.checkout
	padding 5.5rem 0
	
// IDENTIFICATION 

#register-checkout 
	@media $small-desktop-min
		.half + .half
			margin-left 5%

.extra
	.first-step 
		.reminders 
			float left 
			width 50% 
			
			a 
				width 100%
				
				&:last-of-type 
					margin-top .5rem 
							
		.generic-blue 
			float right
			margin-top 2.5rem
			
		@media $tablet-min 
			float left 
			width 60%
			
	.order-resume
		@media $tablet-min
			width 34.667%
			float left 
			margin-left 5.3333% 
			
//GENERICS 
		
.order-resume 
		
	h2 
		font-size 1.4rem 
		color $blue 
		font-weight bold 
		margin-bottom 1rem
		
	.row 
		padding 2.1rem 0  
		border-top .1rem solid $lightblue
		
		&:first-of-type
			border-bottom .1rem solid $lightblue
		
		&:after
			clear both 
			display block
			content ''
		
		span 
			float left
				
		.checkout-name
			width 70%
			font-size 1.4rem 
			color $lightblue
			
		.checkout-price
			width 30%
			text-align right
			font-size 1.4rem
			
	.order-summary
		width 100% 
		float right 
		 
		a 
			display block
			margin 1.4rem 0 
			float right 
			font-size 1.2rem 
			color $blue
			text-decoration underline
			
			@media $mobile-max 
				width 100%
				text-align right
			
		span 
			text-align right
			font-size 1.4rem
			
.step 
	@media $tablet-min
		float left
		width 30% 
		
		& + .step 
			margin-left 5%
			
	.finish-purchase
		margin-top 2rem
			
.small-question
	font-size 1rem 
	
.inactive	
	position relative 
	
	p 
		opacity 0.4
			
//SECOND STEP 

.second-step
	&:nth-of-type(n+2)
		m'a'rgin-top 4rem 
		
	h1 
		font-size 2.2rem 
		font-weight bold
		text-transform uppercase
		margin-bottom 2rem 
		
	.generic-blue
		width auto
		float right
		font-size 1rem
		
.hacked 
	.half + .half 
		margin-left 5%
		
.radiobox
	height 3.3rem
	padding 0 
	
	& > small 
		width 28.333%
		float left
		padding-top .9rem
		text-align center
	
	small 
		font-size 1.2rem 
		color $blue 
	
	&:after
		clear both 
		display block
		content ''
		
		
	input[type="radio"] 
		height auto
		margin-top .9rem 
		margin-bottom 0
		
.address
	margin-bottom 2rem

		
.boxed
	height 100% 
	float left 
	width 15% 
	border-right .1rem solid $lightblue
	text-align center
	
	input 
		display inline-block
		vertical-align top

	
		
// PAYMENT 
.cards 
	width 80%
	float left 
	margin 0 2.5%
	max-height 100%
	
	@media $tablet-minmax 
		margin-top 3.5% 
		
	@media $small-desktop-min 
		margin-top 1.5%
		

.card-placeholder
	@media $mobile-max
		display block
		margin 0 auto 1.5rem auto
		
	@media $tablet-min 
		margin-bottom 1.5rem 
		

.payment-method 
	width 45% 
	float left 
	padding-top 1%
	padding-left .1rem
	text-align center
	
	small 
		display inline-block
		vertical-align super 
		width 70%
		text-align left
		
		@media $tablet-minmax 
			width 90% 
			padding-top .1rem
		
	img 
		@media $tablet-minmax
			display none
		
.discounted 
	display block 
	padding 1rem .4rem 0 0
	text-align right
	float left
	width 39%
	
	@media $tablet-minmax 
		padding .4rem .4rem .3rem 0 
	
.price-checkout 
	text-align right
	clear both
	
@media print 
	header, footer, .lined, .confirmation-segment button, .confirmation-segment a
		display none !important
		
	.center-content 
		max-width 100rem !important
		
	.confirmation-segment 
		float left !important
		width 49% !important
		min-height 32rem !important
		
		& + .confirmation-segment
			margin-left 2% !important
			
		