.product-wrapper 
	position relative
	
.breadcrumb
	height 4rem 
	position absolute
	top 0 
	width 100%
	background-color: #e5e9ed
	z-index 10
		
.path 
	font-size 1.6rem 
	color $blue
	padding 1.2rem 0
	
	@media $tablet-max 
		text-align center
	
	.actual 
		font-weight bold
		
	span
		&:not(.actual)
			@media $tablet-max 
				display none
				

.product-page
	padding-top 12rem 
	
	&:after
		clear both
		display block
		content ''
		
	.center-content
		@media $tablet-max 
			flex()
			flex-wrap wrap 
			
	.slick-arrow
		&.slick-prev
			left 0 	
			
			@media $smallest-desktop-minmax
				left -.5rem 
				 	
		&.slick-next 
			right 0 
			
			@media $smallest-desktop-minmax
				right -.5rem 
				 
				
			

.product-details-segment
	
	@media $tablet-max
		width 100%
	
	@media $small-desktop-min 
		float left 
		width 31.91666% 
		
		& + .product-details-segment
			margin-left 2.12501%
			
	&:first-of-type 
		@media $tablet-max
			order 2 
		
	&:last-of-type
		@media $tablet-max 
			order 3
	
	p
		color $blue 
		font-size 1.4rem 
		line-height 2.4rem 
		
	.bordered
		padding 1.3rem 
		margin-bottom 1rem 
		
	.discount-stripe
		width 70%
		padding 0
		
		&:after
			border-color darken($red, 30%) transparent transparent transparent
			
		@media $smallest-desktop-minmax
			width 80%
			
	a 
		color $lightblue
		font-size 1.2rem 
		text-decoration underline
		
		@media $tablet-max
			display none
		
	.freight-information, .disponibility 
		@media $tablet-max 
			display none

.product-segment
	padding 3.2rem 0
	color $blue 
	font-size 1.6rem
	line-height 2.4rem
	
	p, li 
		color inherit
		font-size inherit
		line-height inherit
		
.brand-final
	display inline-block
	font-size 1.6rem 
	font-weight bold 
	color $blue
			
.product-title
	color $red
	font-size 2.6rem 
	font-weight bold
	
.topic 
	display inline-block
	vertical-align baseline
	
.product-picture 
	@media $tablet-max
		margin-bottom 4rem 
		
	div 
		@media $small-desktop-min 
			height 45rem
			
		img 
			display block
			margin auto

.price-and-payment 
	width 65% 
	float left 
	margin-bottom 3rem
	
	p
		color #6d6e71
		line-height 2rem
		
	.dashed
		text-decoration dashed
		
	.final-price
		margin-top 1rem
		
		span 
			font-weight bold 
			color $lightblue
			line-height initial
			
		small 
			display block
			font-size 1.4rem 
			
.product-options
	margin 3rem auto
	clear both
	
	.bordered 
		height 3.8rem
		padding .5rem
		width 100% 
		
	small 
		font-size 1.4rem
		color $blue
		font-weight bold
		display block
		margin-bottom .8rem
					
.xg 
	font-size 4rem 
	
	@media $smallest-desktop-minmax  
		font-size 3rem
		
	@media $mobile-max 
		font-size 3rem 

.xxg 
	font-size 8.8rem 
	
	@media $smallest-desktop-minmax
		font-size 4.8rem 
		
	@media $mobile-max 
		font-size 4.8rem 
	

.installment-price
	color $lightblue
	
.promotional-information
	float left 
	width 32.5%
	margin-left 2.5%	
	
	.generic-stripe
		@media $smallest-desktop-minmax
			font-size 1.2rem 
			
		@media $mobile-max 
			font-size 1.1rem
			
	.discount-stripe
		@media $mobile-max
			width 80%
				
	
.rating
	@media $tablet-max
		display none
		
	p 
		display inline-block
		vertical-align top
		
	.product-rating
		display inline-block
		margin-top -1rem

.freight-calculation.bordered
	padding-left 1.3rem
	padding-right 0
	flex()
	height 3.8rem
	align-items center
	
	@media $tablet-max 
		display none
	
	input, p 
		width 43.4215%
	
	input 
		height 3.6rem 
		border 0 
		border-left .1rem solid $grey
		padding .5rem
		
		&:focus 
			outline 0
			background-color lighten($grey, 90%)
		
	button
		width 13.157% 
		height 3.6rem 
		border 0 
		border-left .1rem solid grey
		color $blue
		font-size 2rem
		background-color #FFF
		transition(background-color 0.25s ease-in-out)
		
		&:hover
			background-color lighten($grey, 70%)
			

		 
		